<h3><%= @genero.name %></h3>

<%= link_to 'Editar', edit_genre_path(@genero.id) %> |
<%= link_to 'Voltar', genres_path %>
<hr>

<div class="d-flex gap-3 justify-content-evenly flex-wrap">
  <% @movies.each do |movie| %>
    <div class="card" style="width: 18rem;">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuYl9UexgW-fdwSnrL4h_2vx76d9xcVHILbg&usqp=CAU" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= link_to "#{movie.title}", movie_path(movie.id) %></h5>
        <p class="card-text"><%= movie.synopsis %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <%= movie.release_year %> |
          <%= link_to "#{movie.genre.name}", genre_path(movie.genre.id), class: "card-link" %>
        </li>
      </ul>
      <div class="card-body" style="max-height: 50px;">
        <%= link_to "#{movie.director.name}", director_path(movie.director.id), class: "card-link" %>
      </div>
    </div>
  <% end %>
</div>