<%= form_with model: @genero do |f| %>
  
  <div class="mb-3">
    <%= f.label :nome, "Nome" %>
    <%= f.text_field :nome %>
  </div>
  
  <%= f.submit 'Salvar' %>

<% end %>

<%= link_to 'Voltar', generos_path %>