<h2 class="text-center mt-4">Catálogo de Filmes</h2>

<div class="container mt-4 mb-4 text-center">
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to 'Todos os filmes', root_path, {class: 'btn btn-secondary'} %>
      <%= link_to 'Lançados', root_path+"?q=released", {class: 'btn btn-secondary'} %>
      <%= link_to 'Não Lançados' , root_path+"?q=not_released", {class: 'btn btn-secondary'} %>
  </div>
  <%= link_to 'Cadastrar filme', new_movie_path, class:"btn btn-primary" %>
</div>

<%= render 'movies/index' %>