<h3>Catálogo de Filmes</h3>
<%= link_to 'Cadastrar filme', new_movie_path %>
<hr>

<div class="btn-group" role="group" aria-label="Basic example">
  <%= link_to 'Todos os filmes', root_path, {class: 'btn btn-secondary'} %>
  <%= link_to 'Lançados', home_released_path, {class: 'btn btn-secondary'} %>
  <%= link_to 'Não Lançados' , home_not_released_path, {class: 'btn btn-secondary'} %>
</div>
<hr>

<%= render 'movies/index' %>